<div class="divider"></div>
<div class="container">
  <a href="https://yunus-yasar.de">
    <h2>Yunus</h2>
  </a>
  <span class="copyright">© Yunus Yasar 2024</span>
  <div class="links">
    <a href="https://github.com/YunusYasar">
      <img src="../../assets/img/Github.svg" />
    </a>
    <a href="mailto:yunusyasar1903@gmail.com">
      <img src="../../assets/img/Email.svg" />
    </a>
    <a href="https://www.linkedin.com/in/yunus-yasar/">
      <img src="../../assets/img/LinkedIn.svg" />
    </a>
  </div>
  <a routerLink="/impressum" class="impressum-link">
    <span class="impressum">Impressum</span>
  </a>
</div>
