<div class="divider"></div>
<div class="container">
  <a class="logo-footer" href="#">

    <img src="../../assets/img/logo.png" alt="Logo">
  </a>
  <span class="copyright">© Yunus Yasar 2024</span>
  <div class="links">
    <a target="_blank" href="https://github.com/YunusYasar">

      <img src="../../assets/img/Github.svg" />
    </a>
    <a target="_blank" href="mailto:yunusyasar1903@gmail.com">

      <img src="../../assets/img/Email.svg" />
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/yunus-yasar/">

      <img src="../../assets/img/LinkedIn.svg" />
    </a>
  </div>
  <div class="impressum">
    <a routerLink="/impressum" class="impressum-link">
      Impressum
    </a>
  </div>

</div>