.container {
   height: 65vh;
   padding: 0px 25px;
   margin-bottom: 150px;
   background: #141d2f;
   color: #fff;
   position: relative;
   // overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   h2 {
      font-size: 90px;
      font-style: normal;
      font-weight: 700;
   }
}

.bg-img {
   width: 286px;
   height: 710px;
   background-image: url('../../assets/img/purple-shadow-2.png');
   background-repeat: no-repeat;
   background-position: right;
   position: absolute !important;
   // filter: blur(46.5px);
   right: 0px;
   z-index: 999;
   vertical-align: middle;
}

.content {
   position: absolute;
   padding: 37px 25px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.sub-text {
   display: flex;
   gap: 35px;
   align-items: flex-start;
   span {
      z-index: 9999;
      color: white;
   }
}

.sub-container {
   display: flex;
   flex-direction: column;
   margin-top: 42px;
   gap: 20px;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
}

.bulb {
   padding-right: 14px;
   transition: transform 0.2s;
   &:hover {
      cursor: pointer;
      transform: scale(1.2);
   }
}

.img {
   width: 100%;
   height: 100%;
}

.puzzle {
   transition: transform 0.2s;
   &:hover {
      cursor: pointer;
      transform: scale(1.2);
   }
}

.about-picture-container {
   height: 453px !important;
   width: 720px !important;
   display: flex;
   justify-content: center;
   align-items: center;
   object-fit: cover;
   flex-direction: row-reverse;
}
.about-picture {
   background-image: url(../../assets/img/yunus1.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   object-fit: contain;
   border: 4px solid #70e61c;
   border-radius: 50%;
   overflow: hidden;
   margin-right: 150px;
   width: 453px !important;
   height: 453px !important;
}

.divider {
   position: absolute;
   // right: -26px;
   bottom: 146px;
   width: 267px !important;
   height: 4px;
   background-color: #70e61c;
   z-index: 9999;
}

@media screen and (max-width: 524px) {
   .container {
      padding-top: 190px;
   }
   .content {
      h2 {
         margin-bottom: 0px;
      }
   }
}
@media screen and (max-width: 824px) {
   .content {
      h2 {
         font-size: 45px;
      }
   }
}
@media screen and (max-width: 1024px) {
   .bg-img {
      filter: blur(46.5px);
   }
}
@media screen and (min-width: 1024px) {
   .content {
      width: 60%;
      position: unset;
      h2 {
         font-size: 90px;
      }
   }

   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
}

@media screen and (max-width: 1110px) {
   .about-picture-container {
      display: none;
   }
}

@media screen and (min-width: 1111px) {
   .about-picture {
      width: 100%;
      margin-right: unset;
   }
   .container {
      padding-right: 0;
   }
   .divider {
      width: 45%;
      position: unset;
   }
}

@media screen and (min-width: 1200px) {
   .about-picture {
      img {
         width: 100%;
      }
   }
   .about-picture-container {
      height: 91%;
   }
}
@media screen and (min-width: 1440px) and (min-height: 817px) {
   .content {
      padding: unset;
   }
   .container {
      padding: 37px 100px;
      padding-right: 0;
   }
}
@media screen and (min-width: 1440px) {
   .about-picture-container {
      height: 100%;
   }

   .container {
      width: 100%;
      // padding: 37px 100px;
      padding-right: 0;
   }
   :host {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #141d2f;
   }
}
