<div id="about" class="container">
  <div class="bg-img"></div>

  <div
    class="content"
  >
    <h2>About me</h2>
    <div class="about-me-text">
      Hi, I'm a Front-end developer based in München, Germany, Lorem ipsum, 
      dolor sit amet consectetur adipisicing elit. Aut adipisci asperiores sed, 
      rerum quasi numquam nostrum reprehenderit voluptatem voluptatum, 
      officia amet autem magni esse cupiditate culpa quo doloremque, mollitia natus..
    </div>
    <div class="sub-container">
      <div class="sub-text">
        <img
          class="bulb"
          src="../../assets/img/bulb.svg"
        />
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laudantium, tempore modi voluptatem et doloribus expedita quisquam ratione, 
          debitis fugit repellendus, 
          ipsum itaque vel dicta amet? Recusandae ut cumque possimus aut!
        </span>
      </div>
      <div class="sub-text">
        <img
  
          class="puzzle"
          src="../../assets/img/puzzle.svg"
        />

        <span
          >I have a deep passion for problem-solving and an impeccable eye for
          detail. Let's squish those bugs! ;) <br /><br />
        </span>
      </div>
    </div>
  </div>
  <div

    class="about-picture-container"
  >
    <div class="divider"></div>
    <div class="about-picture">
      <img src="../../assets/img/yunus1.png" />
    </div>
  </div>
</div>
