a {
   color: #fff !important;
   text-decoration: none;
}

.main-container {
   background-color: #141d2f;
   display: flex;
   justify-content: space-between;
   height: 90vh;
   position: relative;
   flex-direction: column;
   padding-bottom: 100px;
}

.logo {
   display: flex;
   filter: drop-shadow(4px 3px 7px #00bee8);
   img {
      height: 46px;
   }
}

.burger-menu {
   display: flex;
   justify-content: center;
   align-items: center;
}

.iam-content {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.iam-background {
   margin-top: 110px;
   width: 750px;
   position: relative;
   top: -70px;
   display: flex;
   justify-content: flex-start;
}

.profile-picture {
   width: 100%;
   position: relative;
   object-fit: scale-down;
}

.vector {
   position: absolute;
   width: 100%;
   top: 30%;
}

.text-content-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   max-width: 100%;
   position: absolute;
   bottom: -1px;
   left: 0;
   height: 63%;
   background-position: right;
   background-repeat: no-repeat;
   background-size: contain;
   color: white;
}

.iam-container {
   rotate: -90deg;
   display: inline-flex;
   margin-right: 36px;
   font-size: 30px;
   position: relative;
   top: 71px;
   left: -160px;
}

.sub-container {
   display: inline-flex;
   align-items: center;
   width: 77%;
   position: relative;
   top: 40px;
}

.horizontal-container {
   flex-direction: column;
   text-align: center;
   width: 100%;
   position: relative;
   display: flex;
   justify-content: center;
   right: -17px;
   align-items: center;
}

.name {
   font-size: 90px;
   font-style: normal;
   font-weight: 700;
}

.dev-span {
   font-size: 25px;
   margin-top: -19px;
   color: #9747ff;
}

.btn {
   margin-top: 17px;
   margin-right: 42px;
   display: inline-flex;
   padding: 15px 30px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   color: white !important;
   font-size: 23px;
   border-radius: 10px;
   border: none;
   background: #70e61c;
   box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
   transition: transform 0.2s;
   &:hover {
      cursor: pointer;
      background-color: #9747ff;
      transform: scale(1.1);
   }
}

.header {
   width: 100%;
   max-width: 100%;
   position: fixed;
   opacity: 0.9;
   z-index: 9999;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #141d2f;
   backdrop-filter: blur(32.5px);
   height: 80px !important;
}

.content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 95%;
   color: white !important;

   span {
      color: #ffffff;
      width: 150px;
      flex-shrink: 0;
      font-size: 38px;
   }
}

.modal {
   transition: width 0.1s ease-in-out;
   width: 0;
   top: 0;
   right: 0;
   overflow-x: hidden;
   position: absolute;
   z-index: 1;
   max-width: 100%;
   background: var(--style-1-syle-1-a-green-purple-blue-transparency, rgba(20, 29, 47, 0.8));
   height: 100vh;
   justify-content: center;
   color: #fff;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 20px;
   a {
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      transition: transform 0.2s;
      &:hover {
         cursor: pointer;
         transform: scale(1.2);
         color: #70e61c;
      }
   }
}

.modal.show {
   width: 100%; /* Expand to full width */
   z-index: 1;
}

.links {
   display: none;
   a {
      color: white !important;
      text-decoration: none;
   }
}

.links-container {
   display: flex;
   width: 100%;
   max-width: 100%;
   height: 100px;
   // backdrop-filter: blur(32.5px);
   align-items: center;
   gap: 42px;
   flex-shrink: 0;
   transition: transform 0.2s;
   position: absolute;
   bottom: 20px;
   .contact-links {
      &:hover {
         cursor: pointer;
         transform: scale(1.2);
      }
   }
}
.contact-links {
   display: flex;
}
.scroll-content {
   display: flex;
   gap: 10px;
}

.divider {
   width: 70px;
   background-color: #9747ff;
   height: 3px;
}

.scroll-container {
   position: absolute;
   right: 5px;
   bottom: 120px;
   display: none;
   justify-content: center;
   align-items: center;
   color: #fff !important;
   font-size: 23px;
   font-style: normal;
   font-weight: 400;
   transform: rotate(90deg);
   gap: 5px;

   img {
      transform: rotate(90deg);
   }
   a {
      color: #fff !important;
      text-decoration: none;
   }
}

.mail {
   display: none;
   color: #fff;
   font-size: 23px;
   font-style: normal;
   font-weight: 400;
}
@media screen and (max-width: 540px) {
   .iam-background {
      width: 100%;
      // top: -85px;
   }
   .sub-container {
      width: 100%;
      top: 10px;
   }
}

@media screen and (max-width: 400px) {
   .iam-background {
      width: 130%;
      // top: -85px;
   }
   .profile-picture {
      width: 110%;
   }
   .vector {
      top: 50%;
   }
   .horizontal-container {
      width: 100%;
      top: 0px;
      right: -12;
   }
   .name {
      font-size: 45px;
   }
   .dev-span {
      font-size: 27px;
   }
   .iam-container {
      top: 71px;
      left: -146px;
      font-size: 30px;
   }
}

@media screen and (min-width: 412px) {
   .text-content-container {
      bottom: -31px;
   }
}
@media screen and (max-width: 650px) {
   .iam-background {
      width: 120%;
      top: -45px;
   }
   .profile-picture {
      width: 107%;
      object-fit: scale-down;
   }
   .vector {
      top: 45%;
   }
   .name {
      font-size: 45px;
   }
   .dev-span {
      font-size: 27px;
   }
   .iam-container {
      top: 71px;
      left: -146px;
      font-size: 30px;
   }
}
@media screen and (min-width: 650px) {
   .name {
      font-size: 45px;
   }
   .dev-span {
      font-size: 27px;
   }
   .iam-container {
      top: 71px;
      left: -146px;
      font-size: 30px;
   }
}
@media screen and (min-width: 768px) {
   .iam-container {
      right: -150px;
   }
   .text-content-container {
      height: 63%;
      background-position: unset;
   }
   .mail {
      display: flex;
   }
}

@media screen and (min-width: 820px) {
   .iam-container {
      right: -168px;
   }
}

@media screen and (max-width: 880px) {
   .img-background {
      display: flex;
      justify-content: center;
   }
   .iam-background {
      justify-content: center;
      width: 100%;
      top: -55px;
   }
}

@media screen and (min-width: 880px) {
   .main-container {
      background-color: #141d2f;
      display: flex;
      width: 100%;
      max-width: 100%;
      overflow: hidden;
      // height: 70vh;
   }

   .text-content-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -317px;
      left: 0px;
      height: 119%;
      background-position: unset;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      color: white;
   }

   .iam-container {
      font-style: normal;
      font-weight: 400;
      right: 200px;
      top: 98px;
      font-size: 40px;
      left: unset;
   }
   .sub-container {
      display: inline-flex;
      align-items: center;
      width: 77%;
      position: relative;
      top: -12px;
   }
   .horizontal-container {
      justify-content: center;
      flex-direction: column;
      text-align: center;
      height: 0%;
      width: 57%;
      position: relative;
      top: -384px;
      display: flex;
      right: -345px;
      align-items: center;
   }
   .name {
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
   }
   .dev-span {
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
   }
}
@media screen and (min-width: 1024px) {
   .scroll-container {
      display: flex;
   }

   .divider {
      width: 25px;
   }

   .burger-menu {
      display: none;
   }
   .links {
      display: flex;
      color: white !important;
      font-size: 24px;
      gap: 20px;
      a {
         &:hover {
            &:hover {
               cursor: pointer;
               transform: scale(1.1);
               color: #70e61c;
            }
         }
      }
   }
   .horizontal-container {
      width: 70%;
      right: -400px;
   }
   .name {
      font-size: 60px;
   }
   .dev-span {
      font-size: 37px;
   }
   .iam-container {
      font-size: 40px;
      right: 210px;
      top: 100px;
   }

   .vector {
      top: 45%;
   }
}

@media screen and (min-width: 1440px) {
   .horizontal-container {
      top: -409px;
      width: 74%;
   }

   .text-content-container {
      height: 110%;
   }

   .header {
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
   }
   .links {
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
   }
}

@media screen and (min-width: 1441px) {
   .horizontal-container {
      top: -400px;
   }
   .iam-background {
      width: 900px;
   }
   .vector {
      top: 37%;
   }
}

@media screen and (max-width: 1440px) {
   .vector {
      top: 45%;
   }
}

@media screen and (min-width: 1640px) {
   .vector {
      top: 31%;
   }
}

@media screen and (min-width: 1700px) {
   .iam-background {
      width: 1000px;
      top: -120px;
   }
}

@media screen and (min-width: 1900px) {
   .vector {
      top: 22%;
   }
}

@media screen and (min-width: 2100px) {
   .iam-background {
      width: 1300px;
   }
}

@media screen and (min-width: 3100px) {
   .iam-background {
      width: 1900px;
   }
}
