a {
   text-decoration: none;
}

.container {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-direction: row-reverse;
   width: 100vw;
   max-width: 100%;
   background-color: #141d2f;
   padding: 80px;
   margin-top: 60px;
   box-sizing: border-box;
   text-align: right;
   position: relative;
}
:host {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #141d2f;
}
.content {
   display: flex;
   right: 90px !important;

   flex-direction: column;
   color: #fff;
   h2 {
      font-size: 90px;
      font-style: normal;
      font-weight: 700;
   }
   p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      margin-right: 45px;
   }
}

.skills-box {
   display: flex;
   flex-wrap: wrap;
   max-width: 720px;
   height: 56%;
   justify-content: flex-start;
   gap: 38px;
   align-items: center;
   text-align: center;
}

.skill {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5px;
   color: #fff;
   width: 88px;
   height: 100px;
   margin: 20px;
   img {
      width: 56px;
      height: 85px;
      transition: transform 0.2s;
      &:hover {
         cursor: pointer;
         transform: scale(1.2);
      }
   }
}

.skills-container {
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
   width: 571px;

   button {
      width: 200px;
      height: 58px;
      font-size: 23px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #70e61c;
      border-radius: 10px;
      background: #70e61c;
      box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
      transition: transform 0.2s;
      &:hover {
         cursor: pointer;
         background-color: #9747ff;
         transform: scale(1.1);
      }
   }
}
.skills-header {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   height: 180px;
}
.divider {
   width: 58px;
   height: 3px;
   background-color: #9747ff;
   right: 0px;
   border-top-left-radius: 2px;
   border-bottom-left-radius: 2px;
   position: absolute;
}

.btn {
   height: 58px;
   display: flex;
   font-size: 23px;
   align-items: center;
   justify-content: center;
}

@media screen and (max-width: 1100px) {
   .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 0px;
      margin-top: 0px;
   }
   .skills-container {
      width: 100vw;
      margin: 0px 0px 50px 0;
   }
   .skills-box {
      justify-content: center;
   }
   .skills-header {
      justify-content: center;
   }
   .content {
      p {
         text-align: center;
      }
   }
}

@media screen and (max-width: 700px) {
   .container {
      padding: 0;
   }
   .divider {
      width: 30px;
   }

   .skills-container {
      width: 100vw;
   }
   .skills-header {
      width: 100vw;
      justify-content: flex-end;
      h2 {
         font-size: 45px;
         margin-right: 50px;
      }
   }

   .content {
      p {
         text-align: end;
      }
   }
   .skill {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      color: #fff;
      width: 59px;
      height: 100px;
      img {
         width: 41px;
         height: 45px;
         transition: transform 0.2s;
         &:hover {
            cursor: pointer;
            transform: scale(1.2);
         }
      }
   }
}
