<div id="skills" class="container">
    <div class="bg-img"></div>

    <div class="skills-container">
        <div class="content">
            <div class="skills-header">
                <h2 data-aos="fade-left">My Skills</h2>
                <div class="divider" data-aos="fade-left"></div>
            </div>
            <p data-aos="fade-left">I have gained experience in building projects with various front end technologies and concepts.</p>
            <div class="btn" data-aos="fade-left">
                <a class="link" href="#contact">
                    <button>Get in touch</button>
                </a>
            </div>
        </div>
    </div>
    <div class="skills-box" data-aos="fade-right">

        <div *ngFor="let skill of skillsList" class="skill">

            <img src="{{ skill.url }}">
            <span>{{ skill.name }}</span>
        </div>
    </div>

</div>