<app-main-screen style="max-width: 100%"></app-main-screen>
<app-about-me style="max-width: 100%; width: 100vw"></app-about-me>
<app-skills style="max-width: 100%; width: 100vw"></app-skills>
<app-between-ps style="max-width: 100%; width: 100vw; align-items: center; justify-content: center; display: flex;"></app-between-ps>
<app-project></app-project>
<app-contact-section style="max-width: 100%; width: 100vw; display: flex; justify-content: center"></app-contact-section>
<app-between-cf style="max-width: 100%; width: 100%; display: flex; justify-content: center"></app-between-cf>