a {
   text-decoration: none;
}

.container {
   width: 100vw !important;
   max-width: 100%;
   background-color: #141d2f;
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: #fff;
   height: 340px;
   padding: 37px 25px;
   margin: 50px 0px;
   box-sizing: border-box;
   overflow: hidden;
}

.project-img {
   // position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 620px;
   img {
      height: 220px;
      z-index: 99;
   }
}
.justify-start {
   justify-content: flex-start;
   align-items: flex-start;
}
.justify-end {
   justify-content: flex-end;
   align-items: flex-end;
   text-align: end;
}
.description-container {
   width: 513px;
   flex-direction: column;
   z-index: 99;
}

.test {
   display: flex;
   // padding: 15px 30px;
   width: 152px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   border-radius: 10px;
   background-color: #9747ff;
   transition: transform 0.2s;
   &:hover {
      cursor: pointer;
      background-color: #70e61c;
      transform: scale(1.1);
   }
}

.github {
   display: flex;
   // padding: 15px 30px;
   width: 137px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   border-radius: 10px;
   border: 1px solid var(--style-1-syle-1-a-green-purple-green, #70e61c);
   transition: transform 0.2s;
   &:hover {
      cursor: pointer;
      background-color: #70e61c;
      transform: scale(1.1);
   }
}

.buttons-container {
   display: flex;
   height: 58px;
   margin-top: 12px;
   a {
      color: white !important;
   }
}

.title {
   font-size: 32px;
   font-style: normal;
   font-weight: 700;
   color: #9747ff;
   margin: 0;
}

.skills-used {
   font-size: 23px;
   font-style: normal;
   font-weight: 400;
   color: #70e61c;
}

.description {
   display: flex;
   flex-direction: column;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
}

.row-reverse {
   flex-direction: row-reverse;
}

.bg-img {
   width: 100%;
   height: 100%;
   background-image: url('../../assets/img/purple-shadow-3.png');
   background-repeat: no-repeat;
   background-size: 30%;
   background-position: left;
   position: absolute;
   // filter: blur(46.5px);

   left: 0px;
   // z-index: 999;
}

.bg-img-right {
   width: 100%;
   height: 100%;
   background-image: url('../../assets/img/green_shadow2.svg');
   background-repeat: no-repeat;
   background-size: 11%;
   background-position: right;
   position: absolute;
   right: 0px;
   z-index: 999;
}
@media screen and (max-width: 500px) {
   .description-container {
      width: 100%;
   }
   .test {
      width: 124px;
   }
   .github {
      width: 110px;
   }
}
@media screen and (max-width: 600px) {
   .bg-img {
      background-size: 70%;
      background-position: 0px 130px;
   }
   .bg-img-right {
      background-size: 30%;
   }
}

@media screen and (max-width: 900px) {
   .container {
      flex-direction: column;
      height: auto;
   }
   .row-reverse {
      flex-direction: column;
   }
   .description {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
   }
   .buttons-container {
      margin-top: 50px;
      justify-content: space-around;
   }
   .description {
      span {
         text-align: center;
         width: 90%;
      }
   }
   .bg-img-right {
      background-size: 25%;
   }
}

@media screen and (min-width: 700px) {
   .project-img {
      justify-content: center;
   }
   .buttons-container {
      width: 100%;
      gap: 120px;
   }
}

@media screen and (min-width: 1024px) {
   .container {
      display: flex;
      justify-content: space-around;
      // height: 450px !important;
      width: 100vw;
   }
   .project-img {
      position: relative;
   }

   .description-container {
      // display: flex;
      flex-direction: column;
   }

   .buttons-container {
      display: flex;
      width: 100%;
      gap: 120px;
   }

   @media screen and (min-width: 1440px) {
      .container {
         padding: 37px 100px;
      }
      .title {
         text-align: start;
      }
      .skills-used {
         font-size: 23px;
         text-align: start;
      }
      .description {
         font-size: 16px;
         max-width: 500px;
      }
      .buttons-container {
         justify-content: start;
      }
   }
}
