<div class="container">
  <div class="project-img">

    <img src="../../assets/img/projects/mockup-join.png" />
  </div>
  <div class="description-container">
    <div class="description">
      <h3 class="title">Join</h3>
      <div class="skills-used">
        <h4>JavaScript | HTML | CSS</h4>
      </div>
      <span>
        Task manager inspired by the Kanban System. Create and organize tasks using
        drag and drop functions, assign users and categories.
      </span>

    </div>
    <div class="buttons-container">
      <div class="test">
        <a style="padding: 15px 30px" class="test" target="_blank" href="https://join.yunus-yasar.de/">
          Live test
        </a>
      </div>
      <div class="github">
        <a style="padding: 15px 30px" class="github" target="_blank" href="https://github.com/YunusYasar/join">
          Github
        </a>
      </div>
    </div>
  </div>
</div>


<div class="container">

  <div class="description-container">
    <div class="description justify-end">
      <h3 class="title">El Pollo Loco</h3>
      <div class="skills-used">
        <h4>JavaScript | HTML | CSS</h4>
      </div>
      <span>
        A simple Jump-and-Run game based on an object-oriented approach. Help Pepe
        to find coins and tabasco bottles to fight against the Chicken Boss.
      </span>
    </div>
    <div class="buttons-container justify-end">
      <div class="test">
        <a style="padding: 15px 30px" class="test" target="_blank" href="https://el-pollo-loco.yunus-yasar.de/">
          Live test
        </a>
      </div>
      <div class="github">
        <a style="padding: 15px 30px" class="github" target="_blank" href="https://github.com/YunusYasar/El-Pollo-Loco">
          Github
        </a>
      </div>
    </div>
  </div>
  <div class="project-img">

    <img src="../../assets/img/projects/mockup-el-pollo-loco.png" />
  </div>
</div>